@import "../../styles/variables.module.scss";
@import "../../styles/mixins.module.scss";
@import "../../styles/reset.module.scss";

.activityList {
  background-color: $light-gray-bkgrd;
  width: 80%;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 7rem;
  min-height: 60vh;
  @include flexThis(flex-start, center, column);
  overflow: scroll;
}

.activityList > div {
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .activityList {
    padding-bottom: 0;
  }
}

.wrapper {
  @include wrapper-styles;
}

.notificationContainer {
  @include flexThis(flex-start, center, column);
  width: 100%;
  min-height: 100%;
}