@import "../../styles/variables.module.scss";
@import "../../styles/mixins.module.scss";
@import "../../styles/reset.module.scss";

.commitmentTile {
  background-image: $gradient;
  height: 13rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;

  @include flexThis(center, center, column);



  &__top {
    @include flexThis(space-between, flex-start, row);
    height: 65%;
    width: 100%;
    text-align: right;
    color: $white;
    padding: 1rem;
    div:last-of-type {
      width: 80%;
    }
    
    .imageContainer {
      

      img {
        height: 6rem;
        width: 6rem;
      }
    }
  }


  &__info {
    height: 35%;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
    color: $white;
    @include flexThis(space-between, flex-end, row);

    button:first-of-type {
      background-color: $red;
      border-color: $red;
      color: $primary-blue;
    }

    button:hover,
    button:focus {
      border: 1px solid transparent;
    }
  }

  &__category {
    margin: 0;
  }

  &__txt {
    // width: 50%;
  }
}

@media only screen and (max-width: 400px) {
  .commitmentTile {
    // background-image: $gradient;
    // height: 13rem;
    // border-radius: 0.5rem;
    // margin-top: 1rem;
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: .9rem;
    }
    // margin-bottom: 2rem;
  
    // @include flexThis(center, center, column);
  
  
  
    &__top {
      // @include flexThis(space-between, flex-start, row);
      // height: 65%;
      // width: 100%;
      // text-align: right;
      // color: $white;
      // padding: 1rem;
      // div:last-of-type {
      //   width: 80%;
      // }
      
      .imageContainer {
        
  
        img {
          height: 4rem;
          width: 4rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 250px) {
  .commitmentTile {
    height: auto;
    min-height: 13rem;
    h2 {
      font-size: 1.1rem;
    }
    p {
      font-size: .9rem;
    }
  
    &__top {
      @include flexThis(center, center, column);
      text-align: center;
      .imageContainer {

  
     
      }
    }

    &__info {
      text-align: center;
      @include flexThis(center, center, column);
    }
  }
}