@import "./styles/variables.module.scss";
@import "./styles/mixins.module.scss";

// Padding according to side or vertical nav bars visible
body {
  padding: $nav-height 0 !important;
}

@media only screen and (min-width: 900px) {
  body {
    padding: 0 0 0 $side-nav-width !important;
  }
}

@media only screen and (min-width: 1250px) {
  body {
    padding: 0 $profile-dashboard-width 0 $side-nav-width !important;
  }

  .dashboardProfile {
    padding-top: 2.5rem;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: $profile-dashboard-width;
    background-color: $white;

    section {
      overflow: hidden;
    }

  }
}
