@import "~normalize.css/normalize.css";

@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,700|Varela+Round&display=swap");

@import "./styles/variables.module.scss";
@import "./styles/reset.module.scss";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: $body-font;
  background-color: $light-gray-bkgrd;
  height: 100%;
  
}

body > div:first-child {
  height: 100%;
}

a { 
  text-decoration: none;
  color: inherit;
}