@import "../../styles/variables.module.scss";
@import "../../styles/mixins.module.scss";

.statusContainer {
  @include flexThis(center, center, column);
  text-align: center;
  width: 80%;
  background-color: $white;
  border-radius: 20px;
  padding: 0;
  margin: 2vh 0;
  min-height: 17rem;

  .userNameContainer {
    width: 70%;
    margin-bottom: 1rem;
  }

  h3 {
    color: $primary-blue;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    
  }

  h4 {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
  }

  img {
    height: auto;
    width: 30%;
    min-width: 3.5rem;
    min-height: 3.5rem;
  }
}

.statPill {
  h3 {
    padding-top: 0.5rem;
    font-size: .8rem;
    width: 75%;
    display: block;
  }
  h4 {
    padding-top: 0.5rem;
    font-size: .8rem;
  }
}

.generalPill {
  min-height: 11rem;
}

.negative {
  strong {
    color: $red !important;
  }
}

.positive {
  strong {
    color: $green !important;
  }
}
.profilePill {
    text-align: center;
    min-height: 11rem;
    h3 {
      font-size: 1.2rem;
    }
  
    h4 {
      font-size: 1.1rem;
    }
  }


@media only screen and (min-width: 400px) {
  
  .statusContainer {
    @include flexThis(space-between, center, row);
    text-align: left;
    padding: 1rem 2rem;
    h3 {

      font-size: 1.5rem;
      
    }
  
    h4 {

      font-size: 1.2rem;
    }
  }

  .generalPill {
    @include flexThis(center, flex-start, column);
  }

  .userNameContainer {
    margin-bottom: 0;
  }

  .profilePill {
    @include flexThis(space-between, center, row);
    text-align: left;
    min-height: 9em;
    
    h3, 
    h4 {
      font-size: 1.3rem;

    }
  }

}


@media only screen and (min-width: 1250px) {

    

    .profilePill {
      background-color: $light-gray-bkgrd !important;
      border: 1px solid $primary-blue;
    }

}
