@import "../../styles/variables.module.scss";
@import "../../styles/mixins.module.scss";

.statusContainer {
  width: 80%;
  background-color: $white;
  border-radius: 20px;
  padding: 1rem 2rem;
  margin: 1vh 0;
  height: 13rem;

  .userNameContainer {
    width: 70%;
  }

  h3 {
    color: $primary-blue;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  h4 {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
  }

  img {
    height: auto;
    width: 20%;
  }
}

.statusPill {
  @include flexThis(space-between, center, row);
}

.statPill {
  height: 10rem;
  @include flexThis(space-between, center, row);
  h3 {
    padding-top: 0.5rem;
    font-size: 1.2rem;
    width: 75%;
    display: block;
  }
  h4 {
    padding-top: 0.5rem;
    font-size: 1.2rem;
  }
}

.generalPill {
  @include flexThis(center, flex-start, column);
}

.negative {
  strong {
    color: $red !important;
  }
}

.positive {
  strong {
    color: $green !important;
  }
}
