@import "../../styles/variables.module.scss";
@import "../../styles/mixins.module.scss";

.profileSection {
  position: relative;
  width: 100%;
  height: 100%;
  @include flexThis(flex-start, center, column);
}

.recharts-wrapper {
  @include flexThis(center, center, column);
  
}

.userStatusContainer {
  @include flexThis(space-between, center, row);
  height: 10vh;

  .userNameContainer {
    margin-right: 20px;
  }

  h3 {
    color: $primary-blue;
  }

  img {
    height: 80%;
    width: auto;
  }

  strong {
    color: $primary-pink;
  }
}