@import "../../styles/variables.module.scss";
@import "../../styles/mixins.module.scss";

.profileSection {
  position: relative;
  overflow: scroll; 
  width: 100%;
  height: 100%;
  padding-top: 3vh;
  padding-bottom: 3vh;
  @include flexThis(flex-start, center, column);

  .avatarContainer {
    width: 60%;
    @include flexThis(center, center, column);

    h2 {
      color: $primary-blue;
      margin-bottom: 4vh;
    }

    img {
      border-radius: 100%;
      width: 60%;
      height: auto;
      margin-bottom: 2vh;
    }
  }
}

.wrapper {
  @include wrapper-styles;
}

@media only screen and (min-width: 1250px) {
  .profileSection {
    
    h2 {
      color: $primary-blue !important;
      font-size: 2.5rem;
    }
    div {
      width: 95% !important;
    }
  }

}


