@import "../../styles/variables.module.scss";

.button {
  border-radius: 1rem;
  font-weight: bold;
  border: 0;
  font-size: 1.1rem;
  line-height: 1.2rem;
  margin-right: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: $primary-blue;
  color: $primary-gold;
  background-color: $primary-blue;
  transition: 0.3s;
  padding-top: -.55rem;
  
  &Add {
    height: 2.5rem;
    width: 2.5rem;
  }
  
  &Wide {
    width: 80%;
    height: 2.2rem;
  }
  
  &SmallCircle {
    border-radius: 100%;
  }
}

.button:hover {
  border-color: $primary-gold;
}

.button:last-of-type {
  margin-right: 0;
}

.button:focus {
  outline: none;
}

.button:disabled {
  opacity: 0.7;
  border-color: $white !important;
}