@import "../../styles/mixins.module.scss";
@import "../../styles/variables.module.scss";

.members {
  &__item {
    @include button-inactive--opacity;

    margin-right: 0.5rem;

    &_image {
      max-height: 3rem;
      border-radius: 16px;

      img {
        max-height: 2.5rem;
        min-height: 2.5rem;
        border-radius: 16px;
      }
    }

    &_name {
      opacity: 0;
      padding-right: 1rem;
    }

    &_name:hover {
      opacity: 1;
    }

    &--selected {
      color: $primary-blue;
      background-color: $white;
      border-radius: 16px;
      height: 32px;
      display: flex;
      align-items: center;
      padding-left: 2px;
      padding-right: 1rem;
      user-select: none;
    }

    &:hover {
      @include button-active--opacity;
    }

    &:hover + &_name {
      opacity: 1;
    }
  }

  &:hover + &_name {
    opacity: 1;
  }

  &__icon_true {
    color: green;
  }

  &__icon_false {
    color: red;
  }
}

.members__item_image:hover + .members__item_name {
  opacity: 1;
}
