@import "../../styles/variables.module.scss";
@import "../../styles/mixins.module.scss";

.commitmentSection {
  margin-bottom: 10vh;
  @include flexThis(center, center, column);

  .commitmentStatsContainer {
    @include flexThis(space-between, center, column);
  }

  .commitmentActivitiesContainer {
    @include flexThis(space-between, center, column);
    padding-top: 2rem;
    width: 100%;
  }
}

.wrapper {
  @include wrapper-styles;
}