@import "../../styles/variables.module.scss";
@import "../../styles/mixins.module.scss";



.newCommitmentSection {
  position: relative;
  width: 100%;
  height: 100%;
  @include flexThis(center, center, column);
}