@import "../../styles/variables.module.scss";
@import "../../styles/mixins.module.scss";

.newCommitmentSection {
  position: relative;
  width: 100%;
  height: 100%;
  @include flexThis(center, center, column);
}

.newCommitForm {
  width: 75%;
  max-height: 70%;
  text-align: center;
  overflow: scroll;
  @include flexThis(space-between, center, column);

  h2, 
  input,
  select {
    margin-bottom: 20px;
  }

  h2 {
    color: $primary-blue;
  }

  .formRow {
    @include flexThis(space-between, center, column);
  }

  .formInput {
    position: relative;
    @include flexThis(space-between, center, row);
    margin-bottom: 15px;

    input {
      margin: 0;
      margin-left: 10px;      
    }

  }

  .memberForm {

    button {
      margin: 0;
    }

    > button:last-of-type {
      margin-top: 15px;
    }
  }

}
