@import "../../styles/mixins.module.scss";
@import "../../styles/variables.module.scss";

.voterCard {
  height: 17rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: $white;
  text-align: center;

  &__header {
    @include flexThis(center, center, row);
  }
  &__list {
    padding-top: 1rem;
    width: 80%;
    margin: 0 auto;
    @include flexThis(center, center, row);
  }

  &__submit {
    margin-top: 1rem;
  }

  &__icon {
    font-size: 1rem;
    color: $primary-blue;
  }
  button {
    max-height: 2rem;
    font-size: 0.8rem;
  }
}


@media only screen and (max-width: 400px) {
  .voterCard {
    height: 19rem;
  }
}