@import "../../styles/variables.module.scss";
@import "../../styles/mixins.module.scss";
$nav-height: 50px;

.nav {
  position: fixed;
  left: 0;
  right: 0;
  height: $nav-height;
  background-color: $white;
}

.bottomNav {
  bottom: 0;
  border-radius: 15px 15px 0 0 ;
  @include flexThis(space-between, center, row);
  padding: 10px 30px;

  .navIcon {
    height: 25px;
    width: 25px;
  }

  a {
    margin: 0 10px;
  }
}

body {
  padding: $nav-height 0 !important;
}

.topNav {
  top: 0;
  border-radius: 0 0 15px 15px;
  @include flexThis(center, center, row);
}

.newCommitButton {
  position: absolute;
  bottom: 60px;
}