@import "../../styles/variables.module.scss";
@import "../../styles/mixins.module.scss";



.nav {
  position: fixed;
  left: 0;
  right: 0;
  height: $nav-height;
  background-color: $white;
  z-index: 9999;
  padding: 10px 30px;
}

.bottomNav {
  bottom: 0;
  border-radius: 15px 15px 0 0 ;
  @include flexThis(space-between, center, row);

  .navIcon {
    height: $nav-link-size;
    width: $nav-link-size;
    transition: 0.3s;
  }

  
  a {
    margin: 0 15px;
  }
}
.navIcon:hover,
.navIcon:focus,
.settingsHamburger:focus,
.settingsHamburger:hover {
  transform: scale(1.2);
  color: $primary-blue;
  outline: none !important;
}

.topNav {
  top: 0;
  border-radius: 0 0 15px 15px;
  @include flexThis(space-between, center, row);

  .logo,
  .settingsHamburger {
    height: 30px;
    width: 30px;
  }

  .settingsHamburgerIcon {
    height: 100%;
    width: 100%;
  }

  .settingsHamburger {
    border: none;
    background: none;
    transition: 0.3s;
  }
}

.newCommitButton {
  position: absolute;
  bottom: $nav-height / 2.5;
  left: 50%;
  margin-left: -$nav-link-size !important;
  transition: 0.3s;
}

.newCommitButton:hover,
.newCommitButton:focus {
  transform: scale(1.1);
}

.newCommitIcon {
  height: $nav-link-size * 2 !important;
  width: $nav-link-size * 2 !important;
  color: $primary-blue;
}


.tabNav {
  width: 100%;
  @include flexThis(center, center, column);

  .tabs {
    @include flexThis(center, center, row);
    width: 50%;

    li {
      margin-top: .5rem;
      padding: .5rem 2rem;
      border-right: 1px solid $primary-blue;
      transition: 0.3s;
      font-weight: bold;
      color: $primary-pink;
      opacity: .5;
      cursor: pointer;
    }

    li:last-of-type {
      border: 1px solid transparent;
    }

    .selectedTab {
      color: $primary-blue;
      opacity: 1;
    }
  }
}

// Slide Dropdown Menu
.slide-enter {
  transform: translateY(-100%);
  transition: .3s cubic-bezier(0, 1, 0.5, 1);

  &.slide-enter-active {
    transform: translateY(0%);
  }
}

.slide-leave {
  transform: translateY(0%);
  transition: .3s ease-in-out;

  &.slide-leave-active {
    transform: translateY(-100%);
  }
}