@import "../../styles/variables.module.scss";
@import "../../styles/mixins.module.scss";

$top-nav-vertical-padding: 10px;
$top-nav-horizontal-padding: 30px;
$border-radius-value: 15px;
$side-nav-width: 250px;

.nav {
  position: fixed;
  left: 0;
  right: 0;
  height: $nav-height;
  background-color: $white;
  z-index: 9999;
  padding: $top-nav-vertical-padding $top-nav-horizontal-padding;

  h1 {
    font-size: 1.3rem;
  }
}

.bottomNav {
  bottom: 0;
  border-radius: $border-radius-value $border-radius-value 0 0;
  @include flexThis(space-between, center, row);

  .navIcon {
    height: $nav-link-size;
    width: $nav-link-size;
    transition: 0.3s;
  }
  .rightSpan {
    @include flexThis(space-between, center, row);
    position: relative;
    height: 30px;
  }

  .notifications {
    position: absolute;
    left: 1 rem;
    bottom: 1.5rem;
  }

  .alertIcon {
    position: absolute;
    color: red;
    left: 28px;
    top: -5px;
  }

  .notificationsNumber {
    color: white;
    position: absolute;
    font-size: 0.8rem;
    left: 33px;
    top: -5px;
  }

  a {
    margin: 0 15px;
  }
}
.navIcon:hover,
.navIcon:focus,
.settingsHamburger:focus,
.settingsHamburger:hover {
  transform: scale(1.2);
  color: $primary-blue;
  outline: none !important;
}

.topNav {
  top: 0;
  border-radius: 0 0 $border-radius-value $border-radius-value;

  .topNavContainer {
    height: 100%;
    width: 100%;
    position: relative;
    @include flexThis(space-between, center, row);

    .logo,
    .settingsHamburger {
      height: 30px;
      width: 30px;
    }

    .settingsHamburgerIcon {
      height: 100%;
      width: 100%;
    }

    .settingsHamburger {
      border: none;
      background: none;
      transition: 0.3s;
    }
  }
}

.newCommitButton {
  position: absolute;
  bottom: $nav-height / 2.5;
  left: 50%;
  margin-left: -$nav-link-size !important;
  transition: 0.3s;
}

.newCommitButton:hover,
.newCommitButton:focus {
  transform: scale(1.1);
}

.newCommitIcon {
  height: $nav-link-size * 2 !important;
  width: $nav-link-size * 2 !important;
  color: $primary-blue;
}

.tabNav {
  width: 100%;
  @include flexThis(center, center, column);

  .tabs {
    @include flexThis(center, center, row);
    width: 50%;

    li {
      margin-top: 0.5rem;
      padding: 0.5rem 2rem;
      border-right: 1px solid $primary-blue;
      transition: 0.3s;
      font-weight: bold;
      color: $primary-pink;
      opacity: 0.5;
      cursor: pointer;
    }

    li:last-of-type {
      border: 1px solid transparent;
    }

    .selectedTab {
      color: $primary-blue;
      opacity: 1;
    }
  }
}

// Drop Down Menu Collapsible
.collapseDropDownList {
  position: absolute;
  right: -$top-nav-horizontal-padding;
  top: 100%;
  padding-top: $top-nav-vertical-padding;
  background-color: $white;
  border-radius: 0 0 0 $border-radius-value;

  li {
    text-align: right;
    padding: 0.7rem 1.5rem;
    background-color: $white;
    border-bottom: 1px solid $light-gray-bkgrd;
  }

  li:first-of-type {
    border-top: 1px solid $light-gray-bkgrd;
  }

  li:last-of-type {
    border-radius: 0 0 0 $border-radius-value;
    border-bottom: 1px solid transparent;
  }
}

body {
    padding: 0;
    padding-left: $side-nav-width !important;
}

.sideNav {
  
  border-radius: 0 ($border-radius-value * 2) ($border-radius-value * 2) 0;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  width: $side-nav-width;
  background-color: $white;
  z-index: 9999;
}

@media only screen and (max-width: 900px) {
  body {
    padding: $nav-height 0 !important;
  }
}