@import "./variables.module.scss";

form {
  input {
    border: none;
    border-radius: 15px;

  }

  input, 
  textarea {
    display: block;
    background: white !important;
    padding: 10px;
  }
}