@import "./variables.module.scss";
@import "./mixins.module.scss";

form {
  @include flexThis(space-between, center, column);

  input {
    border: none;
    border-radius: 15px;

  }

  input, 
  textarea {
    display: block;
    background: white !important;
    padding: 10px;
  }

  /* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  background-color: $white !important;    
  -webkit-box-shadow: 0 0 0 30px $white inset !important;
}


}