@import "./variables.module.scss";

h1,
h2,
h3,
h4,
h5,
h6,
label {
  margin: 0;
  font-family: $header-font !important;
}
ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
	text-decoration: none !important;
}

a:hover {
	color: inherit;
}

strong {
  color: $primary-pink;
}