$header-font: "Varela Round", sans-serif;
$body-font: "Barlow", sans-serif;

$white: #fff;
$black: #000;

$light-gray-bkgrd: #edf0f8;

$primary-blue: #2d3cb1;
$primary-blue-rgba-opacity: rgba(45,60,177,0.86);
$primary-pink: #e793c6;
$primary-gold: #ffd700;
$compl-teal: #00C49F;
$red: #E83C24;
$green: #228B22;

$gradient: linear-gradient(
  to right bottom,
  #2d3cb1,
  #774ab5,
  #a55eb9,
  #c977be,
  #e793c6
);

$transparent-primary-blue: rgba(45, 60, 177, 0.4);

$nav-height: 75px;
$nav-link-size: 30px;
$viewport-height: calc(100vh - ($nav-height * 2));

$top-nav-vertical-padding: 10px;
$top-nav-horizontal-padding: 30px;
$border-radius-value: 15px;
$side-nav-width: 275px;

$profile-dashboard-width: 30%;
