$header-font: "Varela Round", sans-serif;
$body-font: "Barlow", sans-serif;

$white: #fff;
$black: #000;

$light-gray-bkgrd: #edf0f8;

$primary-blue: #2d3cb1;
$primary-blue-rgba-opacity: rgba(45,60,177,0.86);
$primary-pink: #e793c6;
$primary-gold: #ffd700;
$compl-teal: #00c9b7;

$gradient: linear-gradient(
  to right bottom,
  #2d3cb1,
  #774ab5,
  #a55eb9,
  #c977be,
  #e793c6
);

$nav-height: 50px;
$nav-link-size: 25px;
$viewport-height: calc(100vh - ($nav-height * 2));
